body {
  font-size: 12px;
  color: #525252;
  background: #F3F4F8 url(../img/devoops_pattern_b10.png) 0 0 repeat;
}

#sidebar-left {
  /*background: #8dc53e url(../img/devoops_pattern_b10.png) 0 0 repeat; */
  background: #2B3541;  
}

#breadcrumb {
  background: #8dc53e url(../img/devoops_pattern_b10.png) 0 0 repeat;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  color: #2A3442;
  background-color: #DADEE8;
  border-color: #DADEE8;
}

a{
    font-size: 12px;
    color: #034425;
    text-decoration: none;
}


 a:hover, a:focus {
    color: #006937;
    text-decoration: none;
}

/*tr {
  background-color: #8dc53e !important;
}*/

/*a:hover {
    color: #981b45;
    text-decoration: none;
}*/

.main-menu .dropdown-menu {
  position: absolute;
    z-index: 2001;
    left: 100%;
    top: 0;
    float: none;
    margin: 0;
    border: 0;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    padding: 0;
    /*background: #0BA9F9 url(../img/devoops_pattern_b10.png) 0 0 repeat;*/
    background: #8dc53e url(../img/devoops_pattern_b10.png) 0 0 repeat;
    box-shadow: none;
    visibility:hidden;
}

.main-menu .dropdown-menu > li > a {
  padding:9px 15px 9px 40px;
  color:#f0f0f0;
}
.main-menu .dropdown-menu > li:first-child > a {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
.main-menu .dropdown-menu > li:last-child > a {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}

.btn-primary, .btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active,
.table > thead > tr > td.primary, .table > tbody > tr > td.primary, .table > tfoot > tr > td.primary, .table > thead > tr > th.primary, .table > tbody > tr > th.primary, .table > tfoot > tr > th.primary, .table > thead > tr.primary > td, .table > tbody > tr.primary > td, .table > tfoot > tr.primary > td, .table > thead > tr.primary > th, .table > tbody > tr.primary > th, .table > tfoot > tr.primary > th {
  background-color: #DADEE8;
  border-color: rgba(0, 0, 0, 0.3);
  color: #2A3442;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary,
.table-hover > tbody > tr > td.primary:hover, .table-hover > tbody > tr > th.primary:hover, .table-hover > tbody > tr.primary:hover > td, .table-hover > tbody > tr.primary:hover > th {
  color: #2A3442;
  background-color: #DADEE8;
  border-color: rgba(0, 0, 0, 0.3);
}

.btn-info, .btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info[disabled].active, fieldset[disabled] .btn-info.active, .progress-bar-info,
.table > thead > tr > td.info, .table > tbody > tr > td.info, .table > tfoot > tr > td.info, .table > thead > tr > th.info, .table > tbody > tr > th.info, .table > tfoot > tr > th.info, .table > thead > tr.info > td, .table > tbody > tr.info > td, .table > tfoot > tr.info > td, .table > thead > tr.info > th, .table > tbody > tr.info > th, .table > tfoot > tr.info > th {
  /* background-color: #269a64; */
  background-color: #b3b5b8;
  border-color: rgba(0, 0, 0, 0.3);
  color: #f8f8f8;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info, .table-hover > tbody > tr > td.info:hover, .table-hover > tbody > tr > th.info:hover, .table-hover > tbody > tr.info:hover > td, .table-hover > tbody > tr.info:hover > th {
    color: #fff;
    /* background-color: #269a64; */
    background-color: #b3b5b8;
    border-color: rgba(0, 0, 0, 0.3);
}

@media (min-width: 992px) {
  .main-menu .dropdown-menu {
    position: relative;
    z-index: inherit;
    left:0;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background:rgba(0, 0, 0, 0.2);
    visibility: visible;
  }
  .main-menu .dropdown-menu > li > a {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
  }
}

#top-panel {
  background: #336699;
  line-height: 60px;
  height: 60px;
}

[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  font-size: 12px;
  /*display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  width: 40%;
  height: 35px;
  border-radius: 5px;*/
  background: #123557;
  /* border-radius: 50px; */
  padding-left: 10px;
  padding-right: 10px;

  /*font-family: Montserrat-Bold;
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;*/
}

/*.login100-form-btn:hover {
  background: #333333;
}*/

#breadcrumb {
  padding: 0;
  line-height: 60px;
  background: none;
  /*background: #0BA9F9 url(../img/devoops_pattern_b10.png) 0 0 repeat;*/
  margin-bottom: 0px;
}

.breadcrumb > li > a {
  color: #2A3442;
}

.breadcrumb > li > a:hover, .breadcrumb > li:last-child > a {
  color: #2A3442;
}

.breadcrumb > li + li:before {
    color: #2A3442;
}

#logo {
  background: #123557;
}

#logo a {
  background: #123557;
}

.table-heading thead tr {
  background: #8D919C;
  /* background-image: -webkit-linear-gradient(top, #8D919C);
  background-image:    -moz-linear-gradient(top, #8D919C);
  background-image:     -ms-linear-gradient(top, #8D919C);
  background-image:      -o-linear-gradient(top, #8D919C);
  background-image:         linear-gradient(to bottom, #8D919C); */

  color: #FFFFFF;

  /* border: 0px; */
}

.table-bordered > thead > tr > th {
  border: 1px solid #dadde7
  /* border: 0px; */
}

.table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border: 1px solid #dadde7
}

.dataTables th {
  background-color: #8dc53e;
  color: #525252;
}

/*th {
    background-color: #8dc53e;
    color: #525252;
}

th.sorting_asc {
    background-color: #8dc53e;
    color: #525252;
}

th.sorting_desc {
    background-color: #8dc53e;
    color: #525252;
}*/

#content {
  background: #F3F4F8;
}

.nav.main-menu > li.dropdown > ul.dropdown-menu {
  background: #48515C;
}

.nav.main-menu a:hover, .nav.msg-menu a:hover, .nav.main-menu a.active:hover, .nav.msg-menu a.active:hover{
  background: #8DC63F;
  /* color: #000; */
}

/* .nav.main-menu a.active-parent, .nav.msg-menu a.active-parent{
  background: #8DC63F;
}  */

/* .nav.main-menu a.active-parent, .nav.msg-menu a.active-parent{ 
  background: #8DC63F;
} */

a.ajax-link.active-parent.active{
  background: #8DC63F;
  color: #2B3541;
}

.main-menu .dropdown-menu a:hover{
  background: #8DC63F;
  color: #2B3541;
}

.nav.main-menu > li > a:hover, .nav.main-menu > li > a:focus, .nav.main-menu > li.active > a, .nav.main-menu .open > a, .nav.main-menu .open > a:hover, .nav.main-menu .open > a:focus, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li.active > a, .nav.msg-menu > li > a:hover, .nav.msg-menu > li > a:focus, .nav.msg-menu > li.active > a, .nav.msg-menu .open > a, .nav.msg-menu .open > a:hover, .nav.msg-menu .open > a:focus{
  background: #8DC63F;
  color: #2B3541;
}

/* .main-menu .dropdown li:hover{
  background: #8DC63F;
  color: #2B3541;
} */

div.box{
  border: 0px;
  border-radius: 0px;
}

div.box.ui-draggable.ui-droppable{
  /* border: 1px solid #dadde7; */
  box-shadow: none;
  /* border: 0px; */
  border-radius: 0px;
}

div.box-header{
  border-radius: 0px;
  /* border: 1px solid #dadde7; */
  background: #C8CBD7;
  border-left: 1px solid #dadde7;
  border-right: 1px solid #dadde7;
  border-bottom: 1px solid #dadde7;
  border-top: 1px solid #dadde7;
}

div.box-content{
  border-radius: 0px;
  border-left: 1px solid #dadde7;
  border-right: 1px solid #dadde7;
  border-bottom: 1px solid #dadde7;
  border-top: 1px solid #dadde7;
  background: #DADEE8;
}

div.box-content.khusus{
  border-radius: 0px;
  border-left: 1px solid #dadde7;
  border-right: 1px solid #dadde7;
  border-bottom: 1px solid #dadde7;
  border-top: 1px solid #dadde7;
  background: #FFFFFF;
}

div.box-content.footer{
  background: #FFFFFF;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-top: 1px solid #dadde7;
}

div.box-content.header{
  /* background: #FFFFFF; */
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-top: 0px;
  padding-top: 10px;
}

/* div.box-form{
  border: 1px solid #dadde7;
} */

div.box-form{
  border: 1px solid #dadde7;
}

.box-icons a{
  color: #2A3442 !important;
  border: 0px;
}

.box-name, .modal-header-name {
  padding-left: 5px;
}

div#tData_filter{
  padding-left: 0px;
  margin-left: -25px;
}

.logout{
  border-radius: 10px;
}

button.btn.btn-default{
  background: #DADEE8;
  border-radius: 0px;
}

div#hari_ini{
  color: #ffffff;
}

/*warna nggak perlu dirubah disamakan aja*/

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background: #FFFFFF;
}

tr.odd{
  background: #FFFFFF;
}

tr.even{
  background: #FFFFFF;
}

tr.even:hover{
  background:#DADDE4;
}

tr.odd:hover{
  background:#DADDE4;
}

input[type="search"]{
  border: 0px;
  width: 220px;
}

ul.pagination > li > a{
  margin: left 1px;
  color: #2A3442;
}

.nav.main-menu.khusus, .nav.msg-menu.khusus{
  margin-top: 10px;
}

div#forminput{
  margin-top: 10px;
}

div#forminput2{
  margin-top: 10px;
}

div#forminput3{
  margin-top: 10px;
}

input[type="text"]{
  font-size:12px;
  background: #F9F9FB;
  color: #2A3442;
}

input[type="select"]{
  font-size:12px;
  background: #F9F9FB;
  color: #2A3442;
}

input[type="textarea"]{
  font-size: 12px;
  background: #F9F9FB;
  color: #2A3442;
}

.form-control{
  font-size: 12px;
  background: #F9F9FB;
  color: #2A3442;
}

.select2-chosen{
  font-size: 12px;
  background: #F9F9FB;
  color: #2A3442;
}

.navbar{
  box-shadow: none;
  /* border: 1px solid #dadde7; */
}

.login100-form-btn.khusus{
  color: #FFFFFF;
}

.dropdown-toggle.active-parent.active:focus{
  background: #8DC63F;
  color: #2B3541;
}

.nav.main-menu a.active-parent:hover, .nav.msg-menu a.active-parent:hover{
    background: #8DC63F;
}

/* li.dropdown :hover{
  background: #48515C;
} */